
.Chatroom {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.chatBox {
    
    height: 600px;
    width: 800px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.user-container {
    font-size: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 600px;
    width: 300px;
    border: 1px solid black;
    flex-direction: column
}

.subject-container {
font-size: 20px;
position: absolute;
top: 0;
border: 1px solid blue;
width: 797px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

.message-container {
    text-align: center;
    border: 1px solid black;
    display: flex;
    height: 50px;
    width: 779px;
    position: fixed;
}

.input-box {
    font-size: 25px;
    width: 797px;
    background-color: white

}

.message {
    width: 100%;
    color: blue;
    font-size: 20px;
    display: flex;
    /* align-self: flex-start; */
    position: absolute;
    top: 25px;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    flex-direction: flex-start;
}


.messagesInChat {
    background: rgb(247, 245, 245);
    /* border-bottom: 5px solid blue;
    border-top: 5px solid blue; */
    box-shadow: 10px 5px 5px blue;
    min-height: 60px;
    width: 100%;
    color: rgb(56, 56, 56);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}

.username {
    color: red;
}